.footer {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    background-color: var(--background-site);

    &-container {
        width: 100%;
        
        margin: 0 auto;        
        @media (min-width: 1024px) {
            max-width: 1013px;
    
        }
    }

    &-flex {
        display: flex;
        align-items: center;
    }
}

.logo-img {
    width: 105px;
    margin: auto;
}