.metronome-section {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    background-color: var(--background-site);
}

.core-container {
    width: 100%;
    margin: auto;

    @media (min-width: 1024px) {
        max-width: 1013px;

    }
}

.metronome {
    &-box {
        padding: 28px 16px 26px;
        background-color: var(--background-box);
        box-shadow: 0 0 25px rgba(0, 0, 0, .1);

        @media (min-width: 1024px) {
            padding: 28px 48px 26px;
            border-radius: 15px;
        }
    }

    &-metric {
        margin-top: 14px;
        color: var(--metronome-color-metric);
        font-size: 17px;
        text-align: center;
    }

    &-val {
        color: var(--metronome-color-value-bpm);
        font-size: 100px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @media (min-width: 1024px) {
            font-size: 130px;

        }
    }

    &-bpm {
        color: var(--metronome-color-bpm);
        font-size: 16px;
        text-align: center;
    }

    &-bar-flex {
        display: flex;
        // flex-wrap: wrap;
        margin-top: 34px;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    &-beat {
        margin-top: 53px;
        margin-bottom: 53px;
        margin-left: 13px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        text-align: center;
    }

    &-button {
        font-size: 1rem;
        font-weight: 800;
        color: #fff;
        width: 40px;
        height: 35px;
        cursor: pointer;
        border: none;
        transition: .2s linear;
        background: #a8a8a8;
        border-radius: 50%;
        box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.11);
        -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.11);
        
        @media (min-width: 1024px) {
            font-size: 1.2rem;
            width: 48px;
            height: 45px;

        }
    }

}

.wrap-range {
    width: calc(100% - 84px);
    margin: 0 10px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.beat-circle {
    margin-left: 1rem;
    margin-right: 1rem;
}

.buttons-flex {
    margin-top: 46px;
    margin-bottom: 31px;
    // margin-left: 31px;
    justify-content: center;
    text-align: center;
    display: flex;
}

.button {
    &-start {
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #fff;
        padding: 0 15px;
        align-content: center;
        cursor: pointer;
        transition: .2s linear;
        height: 51px;
        min-width: 156px;
        border: none;
        border-radius: 7px;
        background: #eca74d;
    }

    &-stop {
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #fff;
        padding: 0 15px;
        align-content: center;
        cursor: pointer;
        transition: .2s linear;
        height: 51px;
        min-width: 156px;
        border: none;
        border-radius: 7px;
        background: #f53d3d;
    }
}

#metric span {
    display: inline-flex;
    min-width: 70px;
    min-height: 35px;
    padding: 0 10px;
    border-radius: 4px;
    background: var(--metronome-metric-span);
    justify-content: center;
    align-items: center;
    align-content: center;
}