// light theme

$background-color-site: #d6dce4;
$background-color-box: #f1f2f3;
$color-metric: #60687c;
$color-value-bpm: #4d4d50;
$color-bpm: #898da8;
$metric-span: #f7ece8;
$main-title: #4d4d50;
$text-block: #4d4d50;
$range-track-color: #3fa575;
$slider-color: #fff;

// dark theme

$background-color-site-dark: #3a3e55;
$background-color-box-dark: #282b3e;
$color-metric-dark: #ad9084;
$color-value-bpm-dark: #e6ecf3;
$color-bpm-dark: #d8daee;
$metric-span-dark: #1e1e20;
$main-title-dark: #e7e7e7;
$text-block-dark: #c4c7e0;
$range-track-color-dark: #4eca90;
$slider-color-dark: #4d516d;